.magenta-line {
    width: 100px;
    height: 2px;
    background-color: magenta;
    margin: 20px 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container h1 {
    text-align: center;
    padding: 20px;
}

.card-container {
    display: flex;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px;
    background-color: #cac2c266
}

.card {
    /* width: 300px;
    height: 300px; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;

}

.card img {
    width: 100%;
    height: auto;

}

.coupan-section{
    display: flex;
    align-items: center;
    border: 2px dashed pink;
    border-radius: 10px;
    padding: 10px;
    background-color: #fc277936;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: right;
    margin: 10px 0px;
}
.coupan-code {
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    border: 2px dotted rgb(187, 20, 43);
    padding: 8px;
    background-color: #ff007626;
    border-radius: 15px;
    display: flex;
    align-items: center;

}
.coupan-text {
    font-size: 1em;
    font-weight: bold;
    color: #fc2779;
    margin-right: 10px;
}

.card-icon {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 2px solid pink;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    font-size: 1em;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .card-container {
        display: unset;
    }
    
    .card{
        /* width: 300px;
        height: 300px; */
    }
}

@media (max-width: 800px) {
   
.card-container {
    display: unset;
}

.card{
    /* width: 300px;
    height: 300px; */
}
}

@media (max-width: 500px) {
    .card{
        /* width: 200px;
        height: 200px; */
    }
    .coupan-section{
        margin: 0;
    }
}